@using Newtonsoft.Json
@{
    var userLogged = new User();
    var session = Context.Session.GetString("sessionUserLogged");
    if (!string.IsNullOrEmpty(session))
        userLogged = JsonConvert.DeserializeObject<User>(session);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloneStackOverflow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CloneStackOverflow.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="menu">

            <div class="container-fluid">
                <a href="../"><img src="~/images/stackoverflow-icon.png" class="navbar-brand img-fluid" id="menu-logo" />stackoverflow</a>

                <div class="col-8 px-2">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search...">
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @{
                    if (userLogged.Id != 0)
                    {
                        <a asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@userLogged.Id"><img class="img-fluid rounded-circle mr-2 buttom-icons" src="~/images/perfil-icon.png" /></a>
                        <a href=""><img class="img-fluid rounded-circle mr-2 buttom-icons" src="~/images/trofeu-icon.png" /></a>
                        <a href=""><img class="img-fluid rounded-circle mr-2 buttom-icons" src="~/images/notificacoes-icon.png" /></a>
                        <a asp-area="" asp-controller="Login" asp-action="Logout"><img class="img-fluid rounded-circle mr-2 buttom-icons" src="~/images/logout-icon.png" /></a>
                    }
                    else
                    {
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="Login" asp-action="Index">Sign In</a>
                        <a class="btn btn-outline-dark" asp-area="" asp-controller="User" asp-action="Create">Sign Up</a>
                    }
                }

                <div class="collapse navbar-collapse" id="navbarSite">
                    <ul class="navbar-nav" id="navbarMenu" runat="server">
                    </ul>
                </div>
            </div>
        </nav>
        <br /><br /><br />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="rodape">
        <div id="links" class="p-5">
            <ul>
                <p>STACK OVERFLOW</p>
                <li><a href="../">Questions</a></li>
                <li><a href="../">Help</a></li>
            </ul>
            <ul>
                <p>PRODUCTS</p>
                <li><a href="../legislacao">Teams</a></li>
                <li><a href="../fale-conosco">Advertising</a></li>
                <li><a href="../fale-conosco">Collectives</a></li>
                <li><a href="../fale-conosco">Talent</a></li>
            </ul>
            <ul>
                <p>COMPANY</p>
                <li><a href="../legislacao">About</a></li>
                <li><a href="../fale-conosco">Press</a></li>
                <li><a href="../legislacao">Work Here</a></li>
                <li><a href="../fale-conosco">Legal</a></li>
                <li><a href="../fale-conosco">Privacy Policy</a></li>
                <li><a href="../fale-conosco">Terms of Service</a></li>
                <li><a href="../legislacao">Contact Us</a></li>
                <li><a href="../fale-conosco">Cookie Settings</a></li>
                <li><a href="../fale-conosco">Cookie Policy</a></li>
            </ul>
            <ul>
                <p>STACK EXCHANGE NETWORK</p>
                <li><a href="../legislacao">Technology</a></li>
                <li><a href="../fale-conosco">Culture & recreation</a></li>
                <li><a href="../legislacao">Life & arts</a></li>
                <li><a href="../fale-conosco">Science</a></li>
                <li><a href="../fale-conosco">Professional</a></li>
                <li><a href="../fale-conosco">Business</a></li>
                <li><a href="../legislacao">API</a></li>
                <li><a href="../fale-conosco">Data</a></li>
            </ul>
            <ul>
                <a href="">Blog</a>
                <a href="">Facebook</a>
                <a href="">Twitter</a>
                <a href="">LinkedIn</a>
                <a href="">Instagram</a>
            </ul>
        </div>
    </footer>

    <div id="copyright">
        Site design / logo &copy; @DateTime.Now.Year Stack Exchange Inc; user contributions licensed under CC BY-SA. rev 2024.3.5.5754
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
