@{
    ViewBag.Title = "Erro";
}

@if (ViewBag.ErrorMessage != null)
{
    <h1>Oops! Something went wrong.</h1>
    <p>@ViewBag.ErrorMessage</p>
}
else
{
    <h1>Oops! Something went wrong.</h1>
    <p>We're currently experiencing issues. Please try again later.</p>
}