@{
    var lstUsuarios = new List<Usuario>();
    lstUsuarios.Add(new Usuario { Id = 1, Nome = "Kaique", Email = "kaique.melhado@outlook.com" });
    lstUsuarios.Add(new Usuario { Id = 2, Nome = "Lucas", Email = "lucas.melhado@outlook.com" });
    lstUsuarios.Add(new Usuario { Id = 3, Nome = "Fernando", Email = "fernando.melhado@outlook.com" });
    lstUsuarios.Add(new Usuario { Id = 4, Nome = "Elaine", Email = "elaine.melhado@outlook.com" });
    lstUsuarios.Add(new Usuario { Id = 5, Nome = "Bianca", Email = "bianca.melhado@outlook.com" });
}

<br />
<h3>Lista de Usuários</h3>
<br />
<br />

<a asp-action="Create" class="btn btn-dark">Cadastrar Novo Usuário</a>
<div>
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>E-mail</td>
                <td>Ação</td>
                <td>Ação</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in lstUsuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>Editar</td>
                    <td>Deletar</td>
                </tr>
            }
        </tbody>
    </table>
</div>